:root {
    --mud-palette-primary: #3592b4 !important;
    --grey-30: #e3e3e3;
    --grey-08: #fafafa;
}

body {
    height: 100vh;
}

/*.mud-primary-hover {
    background-color: #3592b41f !important;
}

.h-100 {
    height: 100%;
}*/

.page-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
}


/*TOOLBAR*/
.ToolBar-container {
    color: var(--mud-palette-text-primary);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
    box-shadow: var(--mud-elevation-25);
    position: sticky;
    top: 0px;
    z-index: 999;
}

.mud-toolbar.ToolBar {
    height: 36px;
}

.ToolBar-Title > span {
    text-transform: uppercase;
    font-weight: 700;
}

.ToolBar-new {
    background-color: var(--grey-30);
}

.ToolBar-mapping {
    background-color: #ff980040;
}

.ToolBar-pending {
    background-color: #ff980040;
}

.ToolBar-active {
    background-color: #ff980020;
}

.ToolBar-confirmed {
    background-color: #a6ebc3;
}

.ToolBar-printed {
    background-color: #02cb5545;
}

.ToolBar-cancelled {
    background-color: #FFCDD2;
}

.ToolBar-IconButton .mud-icon-size-medium {
    font-size: 1.4rem;
}

.ToolBar-IconButton .mud-icon-size-medium:hover {
    font-size: 1.5rem;
}

.ToolBar-iconbutton {
    width: 1.5rem;
    margin-inline: 2px;
}
.mud-icon-button.ToolBar-IconButton {
    padding: 2px;
}


/*CONTAINER-ITEM*/
.Container-item {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
    box-shadow: var(--mud-elevation-1);
    background-color: var(--containerBackGround);
}

    .Container-item > .container-head {
        padding-inline: 10px;
        background-color: #3592b4;
        color: white;
        font-weight: 700;
    }

        .Container-item > .container-head span {
            margin-bottom: auto;
            margin-top: auto;
        }

    .Container-item > .radioGroup_head {
        padding-inline: 36px;
        background: silver;
    }

    .Container-item > .container-content {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--grey-08);
    }

    .Container-item * .container-content {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--grey-08);
    }

    .Container-item > .container-content.column {
        flex-direction: column;
    }

    .Container-item > .container-content.row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

.dialog-container {
    width: 100%;
    height: 100%;
    padding-inline: 20px;
}


/*CONTAINER TABLE*/
.Container-table {
    margin-top: 15px !important;
    background-color: var(--containerBackGround);
    transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
    box-shadow: var(--mud-elevation-1);
}

    .Container-table .tableMenu {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        height: 30px;
    }

        .Container-table .tableMenu * .mud-pagination-small .mud-pagination-item > * {
            height: 24px;
            min-width: 24px;
        }

/*.Table {
}*/

    .Table * thead {
        background-color: var(--tableThead);
    }

    .Table .mud-table-root .mud-table-head .mud-table-cell {
        color: var(--mud-palette-text-primary);
        font-weight: 500;
        text-align: center;
        /*line-height: 1.1rem;*/
    }

    
    .Table * .mud-table-cell * .mud-input > input.mud-input-root-outlined, .Table .mud-table-root * .mud-table-head .mud-table-cell div.mud-input-slot.mud-input-root-outlined {
        padding: 4px 0px 1px 6px;
        font-size: 0.92rem;
        font-weight: 500;
    }

    .Table * .mud-table-cell * .mud-input > input.mud-input-root-outlined, .Table * .mud-table-cell * div.mud-input-slot.mud-input-root-outlined {
        padding: 4px 0px 1px 6px;
        font-size: 0.92rem;
        font-weight: 500;
    }


/*    .Table * .mud-table-cell *.mud-input-control {
        margin-top: unset;
    }*/

    .Table * .mud-table-cell * .mud-input.mud-input-outlined.mud-input-adorned-end {
        padding-right: 0px;
        padding-inline-end: 8px;
        padding-inline-start: unset;
    }

    .Table * .mud-table-cell * .mud-select .mud-input.mud-input-outlined.mud-input-adorned-end {
        padding-inline-end: 0px;
    }

    .Table * .mud-table-cell > .mud-picker * .mud-input-adornment-end {
        margin-inline-start: 0px;
    }

    .Table * .mud-table-cell .mud-icon-button {
        padding: 2px;
    }

    .Table * .mud-table-cell * .mud-icon-size-medium {
        font-size: 1.3rem;
    }

    .Table * .mud-table-cell > .mud-table-sort-label .mud-icon-size-medium {
        font-size: 1rem;
        margin: 0px;
    }

    .Table.P4 * .mud-table-cell {
        padding: 4px;
    }

    .Table * .mud-table-cell {
        padding: 8px;
        text-align: center;
    }

        .Table * .mud-table-cell .mud-input-control * .mud-icon-button {
            padding: 0px;
        }

        .Table * .mud-table-cell .mud-input-control * .mud-icon-size-small {
            font-size: 1.1rem;
            margin-top: 2px;
        }

        .Table * .mud-table-cell .mud-input-control * .mud-icon-button-edge-margin-end {
            margin-right: 5px;
            margin-inline-end: 5px;
        }

        .Table * .mud-table-cell .mud-checkbox {
            margin: 0px;
        }


        .Table * .mud-table-cell .mud-autocomplete .mud-input-control * .mud-icon-button {
            margin-right: 2px;
        }

        .Table * .mud-table-cell .mud-picker * .mud-icon-button-edge-end {
            margin-inline-end: -8px;
        }

/*DATE RANGE*/
.dateRange {
    width: 220px;
}

    .dateRange * .mud-input.mud-input-outlined.mud-input-adorned-end {
        padding-inline-end: 7px;
    }

    .dateRange * .mud-picker-calendar-container {
        width: 295px;
    }

    .dateRange * .mud-input > input.mud-input-root-outlined.mud-input-root-margin-dense {
        padding-top: 10px;
        padding-bottom: 4px;
        font-size: 14px;
        font-weight: 500;
    }

    .dateRange * .mud-input > input.mud-input-root-outlined.mud-input-root-adorned-end {
        padding-inline-start: 10px;
    }

    .dateRange * .mud-input-label-outlined.mud-input-label-margin-dense {
        transform: translate(12px,8px) scale(1);
    }



/*Mud_INPUT_Controls*/

/*.mud-input > input.mud-input-root-outlined.mud-input-root-adorned-end*/
.mud-input-control.TextField {
    display: flex;
    flex-direction: row;
    flex: none;
}

.container-content > .mud-input-control {
    flex:unset;
}
.mud-select.mud-autocomplete {
    flex-grow: unset;
}

.container-content > .mud-select {
    flex-grow: unset;
}


.controlIconButtons {
    display: flex;
    justify-content: center;
}

    .controlIconButtons .mud-button-outlined-size-small.mud-icon-button {
        padding: 2px;
    }


/*WRAPPER INPUT*/
.wrapper-input {
}

    .wrapper-input * .mud-input > input.mud-input-root-outlined.mud-input-root-margin-dense {
        padding-top: 5px;
        padding-bottom: 4px;
        font-size: 14px;
        font-weight: 500;
    }

    .wrapper-input * .mud-input > input.mud-input-root-outlined, div.mud-input-slot.mud-input-root-outlined {
        padding: 10px 1px 5px 3px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
    }

    .wrapper-input .mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
        color: var(--mud-palette-primary);
        background-color: var(--grey-08);
        font-weight: 500;
    }

    .wrapper-input * .mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol.mud-input-label-outlined, .mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol.mud-input-label-outlined {
        transform: translate(14px,-6px) scale(.75);
    }

    .wrapper-input * .mud-input-label-outlined {
        background-color: var(--grey-08);
        transform: translate(10px, 10px) scale(1);
    }

    .wrapper-input * .mud-icon-button-edge-margin-end {
        margin-right: 2px;
        margin-inline-end: 4px;
        margin-inline-start: unset;
        margin-top: 4px;
    }

    .wrapper-input * .mud-input.mud-input-outlined.mud-input-adorned-end {
        padding-inline-end: 2px;
    }

    .wrapper-input * .mud-icon-button-size-small {
        padding: 0px;
    }

        .wrapper-input * .mud-icon-button-size-small.mud-icon-button-edge-end {
            margin-right: -3px;
            margin-inline-end: 3px;
            margin-inline-start: unset;
            /*margin-top: 4px;*/
            margin-top: 2px;
        }

    .wrapper-input * .mud-icon-size-small {
        color: red;
        font-size: 1rem;
    }

        .wrapper-input * .mud-icon-size-small:hover {
            color: var(--grey-08);
            background-color: red;
        }

    .wrapper-input * .mud-input-adornment .mud-icon-button {
        padding: 2px;
    }

    .wrapper-input * .mud-input-adornment .mud-icon-button-edge-end {
        margin-inline-end: 3px
    }

    .wrapper-input * .mud-icon-button-size-small.mud-icon-button-edge-end {
        margin-right: -3px;
        margin-inline-end: 3px;
        margin-inline-start: unset;
        margin-top: 4px;
    }

    .wrapper-input.NoHeader .mud-input-control {
        margin-top: 0px;
    }

.mud-input-control.wrapper-input.NoHeader {
    margin-top: 0px;
}



.wrapper-input.NoHeader * .mud-input > input.mud-input-root-outlined {
    padding: 5px 1px 3px 3px;
}

.wrapper-input * .mud-input > textarea.mud-input-root-outlined {
    margin: 4px;
}


.wrapper-input-date {
}

    .wrapper-input-date * .mud-input > input.mud-input-root-outlined {
        padding: 10px 1px 5px 3px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
    }


    .wrapper-input-date * .mud-input.mud-input-outlined.mud-input-adorned-end {
        padding-inline-end: 0px;
    }

    .wrapper-input-date .mud-input-adornment .mud-icon-button {
        padding: 5px;
    }

    .wrapper-input-date .mud-input-adornment .mud-icon-button-edge-end {
        margin-inline-end: 0px;
    }

    .wrapper-input-date .mud-input-adornment .mud-icon-size-medium {
        font-size: 1.4rem;
    }

        .wrapper-input-date .mud-input-adornment .mud-icon-size-medium:hover {
            font-size: 1.5rem;
        }

.wrapper-input.wrapper-input-date * .mud-input-adornment .mud-icon-button:hover, .mud-icon-button:focus-visible {
    background-color: transparent;
}

.wrapper-input-date * .mud-input-adornment-end {
    margin-inline-start: 0px;
}

.wrapper-input-date * .mud-input-label-outlined {
    background-color: var(--grey-08);
    transform: translate(10px, 10px) scale(1);
}

.wrapper-button {
}

    .wrapper-button .mud-fab-primary:hover, .mud-fab-primary:focus-visible {
        background-color: #1979a5;
    }

.mud-button-filled.mud-button-filled-primary:hover.wrapper-button, .mud-button-filled.mud-button-filled-primary:focus-visible.wrapper-button {
    background-color: #1979a5;
}


.wrapper-button * .mud-icon-root.mud-svg-icon {
    font-size: 1.6rem;
}

.wrapper-checkBox {
    display: flex;
    align-items: center;
    justify-content:center;
}

    .wrapper-checkBox * .mud-checkbox .mud-icon-button {
        padding: 4px;
    }


.wrapper-iconbutton {
    width: 1.6rem;
}

@media (min-width: 600px) {

    .mud-container {
        min-width: 960px;
    }
}
